@font-face {
    font-family: 'inter';
    src: url('../../Assets/Font/static/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    /*? Colors */
    --azul_primario:#111E3E;
    --azul_secundario: #222E50;
    --branco:#D9D9D9;
    --verde:#8BC34A;
    --cinza:#7E7E7E;

    /*? Font */
    --nav_font: 'inter', sans-serif;
}

body {
    height: 100vh;
    min-height: 100vh;
}



/*^  -------------------------- HEADER --------------------------*/
header {
    background-color: var(--verde);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px 10%;
    width: 100vw;
    height: 5.375em;
}

.header-logo {
    background-color: var(--branco);
    position: absolute;
    align-items: center;
    padding: 4px 32px;
    border-radius: 16px;
    left: 5%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 18px;
}

.header-login-bt, nav > a{
    color: var(--branco);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    text-decoration: none;
    font-weight: bold;
    border: none;
}

/*? Link de criar conta */
.header-links > a {
    color: var(--azul_secundario);
    margin: 5px;
    font-size: 16px;
    font-weight: 700;
}

/*? Botão de entrar */
.header-login-bt{
    background-color:var(--azul_secundario);
    height: 48px;
    width: 92px;
    border-radius: 16px;
    outline: none;
}

.header-login-bt > a {
    color: var(--branco);
}
/*^  ------------------------------------------------------------*/



/*^  -------------------------- MAIN HEADER --------------------------*/

main{
    width: 100%;
    height: 100vh;
    background-color: var(--azul_primario);
}

.main-feed-container{
    background-color: var(--azul_primario);
    border: 0.25px solid #7E7E7E;
    width: 646px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

.profile-header-container{
    border: 0.1px solid #7E7E7E;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.profile-cover-container{
    background-color: var(--azul_secundario);
    height: 151px;
}

.profile-picture-container > img{
    border-radius: 150px;
    position: absolute;
    left:67px;
    bottom: 35%;
}

.profile-description{

    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 5px;
    margin-top: 15%;
    margin-left: 12%;
    padding-bottom: 25px;
    align-items: flex-start;
    

}
.profile-description > img{
    width: 24px;
}

#profile-ocuppation-icon{
    display: flex;
    
}

.profile-occupation{
    display: flex;
    column-gap: 13px;
    
}

.profile-email{
    display: flex;
    column-gap: 13px;
}


#profile-username{
    font-family: var(--nav_font);
    color: var(--branco);
    font-size: 20px;
    font-weight: 700;
}


/*^  ------------------------------------------------------------*/


/*^  -------------------------- MAIN FEED --------------------------*/

.publication-feed-title{
    color: var(--branco);
    /* margin-bottom: 24px;
    margin-left: 8px;
    margin-top: 16px; */
    margin: 16px 0px 24px 8px;
    font-family:'inter';
    font-weight: 800px;
    font-size: 15px;
    line-height: 18.15px;
}

.publication{
    border-radius: 25px;
    background-color: var(--azul_secundario);
    margin-bottom: 16px;
    color: var(--branco);
    padding: 14px 24px 14px 24px;
    margin: 0px 10px 10px 10px;
}

.post-header-feed{
    display: flex;
    padding-left: 20px;
    color: var(--branco);
    column-gap: 11px;
}

.post-header-feed > p{
    margin-top: 15px;
}

.post-header-feed > img {
    width: 48px;
    border-radius: 150px;
}



.publication > p{
    margin-left: 83px;
}

.publication > img{
    margin-left: 83px;
    border-radius: 20px;
    margin-top: 20px;
}






/*^ ------------------------------------------------------------*/