*{ 
    margin: 0; /*Retirando margem*/
    padding: 0;

    font-family: 'Inter';
    font-style: normal;
    /*line-height: 19px; */
    /* text-align: left; */
}

button:hover{cursor: pointer;} /*Cursor sobre os botões*/

body {
    display: flex;
    flex-direction: column;
    /* overflow-x: hidden; */

    min-height: 100vh;

    background-color: #111E3E;
}

header{
    display: flex;
    justify-content: center;
    
    padding: 19px 48px;
    height: 86px;

    background: #8BC34A;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    max-width: 1440px;
}

.logoHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 4px 32px;
    border-radius: 16px;
  
    background: #D9D9D9;
}

.linksHeader {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 18px;

    white-space: nowrap;
}

.linksHeader button{
    
    width: 92px;
    height: 48px;
    border-radius: 16px;
    border: none;
    /* padding: 15px 22px; */

    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    /* font-weight: bold; */

    color: #FFFFFF;
    background: #222E50;
}

.linksHeader a{
    font-size: 16px;
    font-weight: 700;

    text-decoration: none; /*retira sublinhado de link*/
    
    color:#222E50;
}

.sectionLogin {
    display: flex;
    justify-content: center; 
    align-items: center; 

    padding: 0px 48px;

    margin-top: 100px;
    margin-bottom: 100px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    max-width: 1440px;

    width: 547px;
    height: 605px;
    border-radius: 10px;

    background-color: #222E50;  
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.iconUser {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 36px;
    margin-bottom: 36px;

    width: 215px;
    height: 203px;
}

.inputGroup input {
    color: #111E3E;
    background-color: #D9D9D9;

    font-size: 16px;
    font-weight: 700;
    
    border: none;
    border-radius: 15px;

    padding: 0px 15px; 

    height: 59px;
    width: 100%;

    /*outline: none; utline para retirar borda de seleçao */
}

::placeholder {
    opacity: 0.7;
}

.emailContainer {
    display: flex;
    align-items: center;

    background-color: #71767B;
    
    border-radius: 15px;
    width: 400px;

    margin-bottom: 30px;
}

.iconEmail {
    padding: 0 15px 0 15px;
}

.passwordContainer {
    display: flex;
    align-items:center; 

    background-color: #71767B; 
    border-radius: 15px; 
}

.iconPassword {
    padding: 0 15px 0 15px;
}

.passwordGroup {
    display: flex;
    align-items: center;
    /* justify-content: right; */

    /*A borda de seleção do input da senha será menor, 
    considerando que o ícone do olho ocupa um espaço na lateral direita*/
    width: 100%;
    border-radius: 15px;

    background: #D9D9D9;
}

#togglePassword {
    cursor:pointer;

    display: flex;
    margin-right: 1em;
    /* padding-left: 1em; */

    width: 24px;
    height: 24px;

    background-color: #D9D9D9;
}

.links a {
    color: #111E3E;

    margin-top: 25px;

    font-size: 16px;
    font-weight: 700;
    /*font-weight: bold; */
    text-decoration: underline;

    display: flex;
    justify-content: center;
    align-items: center;
}

.links button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 25px;
    border: none;

    font-size: 16px;
    font-weight: 700;
    /* font-weight: bold; */

    border-radius: 15px;

    width: 283px;
    height: 50px;

    color: #222E50;
    background: #D9D9D9;
}