@font-face {
    font-family: 'inter';
    src: url('../../Assets/Font/static/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    /* Colors */
    --azul_primario:#111E3E;
    --azul_secundario: #222E50;
    --branco:#D9D9D9;
    --verde:#8BC34A;

    /* Font */
    --nav_font: 'inter', sans-serif;
}

body {
    background-color: var(--azul_primario);
    height: 100vh;
    min-height: 100vh;
}



/* ---- HEADER ---- */
header {
    background-color: var(--verde);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px 10%;
    width: 100vw;
    height: 5.375em;
}

.header-logo {
    background-color: var(--branco);
    position: absolute;
    align-items: center;
    padding: 4px 32px;
    border-radius: 16px;
    left: 5%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 18px;
}

.header-login-bt, nav > a{
    color: var(--branco);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    text-decoration: none;
    font-weight: bold;
    border: none;

}


/* Link de criar conta */
.header-links > a {
    color: #222E50;
    margin: 5px;
    font-size: 16px;
    font-weight: 700;
}

/* Botão de entrar */
.header-login-bt{
    background-color:var(--azul_secundario);
    height: 48px;
    width: 92px;
    border-radius: 16px;
    outline: none;
}

.header-login-bt > a {
    color: var(--branco);
}
/* ---------------- */


/* ---- MAIN & FORM ---- */
#main-img{
}

 #form-container {
    background-color: var(--azul_secundario);
    position: relative;
    left: -10px;
    display: inline-block;
    
    top: 84px;
    border-radius: 10px;
    width: 547px;
    height: 723px;
    padding: 15px 73px;
 }
 #form-container > form > img {
    left: 25%;
    position: relative;
 }
 #form-container > form > div > input{
    background-color: var(--branco);
    display: block;
    border-radius: 15px;
    width: 401px;
    height: 59px;
    padding-left: 20px;
    margin: 15px;
 }

 #form-input-container{
    margin-top: 15px;
 }

#signup-button-form{
    background-color: var(--branco);
    position: relative;
    border-radius: 15px;
    width: 283px;
    height: 50px;
    left: 20%;
    margin-top: 17px;
} 

#textLogin > a{
    color:var(--branco);
    position: relative;
    left: 30%;
}

/* ----------------------- */